<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">
                                        <article class="grid_8">
                                            <div class="indent-left">                                            
                                                <a href="http://neurotronics.us" target="_blank"><h3 class="prev-indent-bot">Neurotronics Maschninenbau Ltd.</h3></a>
                                                <div class="wrapper img-indent-bot">
                                                    <figure class="img-indent3"><img height=250 width=200 src="images/about/machine1.jpg" alt=""></figure>
                                                    <div class="extra-wrap">
                                                        <h6>Neurotronics Maschinenbau is based mainly on exploration and expansion of latest technology in field of both software and hardware with innovation of new robotics products using them in field of IT, robotics and artificial intelligence.</h6>
                                                        <p>This Group is dedicated to full range of engineering, integration, testing, support and research and development activities and provides solution to industries universities about robotics projects.</p>
                                                        <a class="button" target="_blank" href="http://neurotronics.us/about">Official Page</a>
                                                    </div>
                                                </div>
                                                <h3>Project Team</h3>
                                                <p class="indent-bot"></p>
                                                <div class="wrapper">
                                                    <div class="col-1">
                                                        <figure class="indent-bot"><a href="http://pulkitgupta.net" target="_blank"><img src="images/team/pulkit.jpg" alt=""></a></figure>
                                                        <h6><strong>Pulkit Gupta (R&D Head)</strong></h6>
                                                        Designer and Developer of complete project including embedded system.
                                                    </div>
                                                    
                                                    <div class="col-2">
                                                        <figure class="indent-bot"><a href="#"><img src="images/team/hitesh.jpg" alt=""></a></figure>
                                                        <h6><strong>Hitesh Bansal (CEO)</strong></h6>
                                                        International representative
                                                    </div>

                                                    <div style="margin-left: 50px" class="col-2">
                                                        <figure class="indent-bot"><a href="#"><img src="images/team/diway.jpg" alt=""></a></figure>
                                                        <h6><strong>Divay Gupta </strong></h6>
                                                        Deals in client-site support and query solving.
                                                    </div>
                                                </div>                                            
                                                <div class="wrapper border-bot2">
                                                    </br></br>
                                                    <a href="http://www.facebook.com" target="_blank"><figure class="img-indent2"><img src="images/about/fb.png" alt=""></figure></a>
                                                    <a href="http://www.youtube.com" target="_blank"><figure class="img-indent2"><img height=90 src="images/about/youtube.png" alt=""></figure></a>
                                                </div>

                                            </div>
                                        </article>
                                        <article class="grid_4">
                                            <div class="indent-left2 indent-top">
                                                <div class="box indent-bot">
                                                     <div class="padding">
                                                        <div class="wrapper">
                                                            <figure class="img-indent"><img src="images/page1-img4.png" alt=""></figure>
                                                            <div class="extra-wrap">
                                                                <h4 class="p0">Support hours:</h4>
                                                            </div>
                                                        </div>
                                                        </BR>                                                    
                                                        <p class="color-1 p0">Monday - Friday: 8:30 am - 6:00</p>
                                                        <p class="color-1 p1">Saturday: 8:30 am - Noon</p>
                                                        <a href="/ticket">Open Ticket</a>
                                                    </div>
                                                </div>
                                                <div class="indent-left">
                                                    <h3 class="p0">Why NeuroSCADA</h3>
                                                    <ul class="list-1">
                                                        <li><a href="#">Fast and responsive</a></li>
                                                        <li><a href="#">Absolutely free</a></li>
                                                        <li><a href="#">Data security</a></li>
                                                        <li><a href="#">Proper Logs for research</a></li>
                                                        <li><a href="#">Easy Installation</a></li>
                                                        <li><a href="#">No Maintainance</a></li>
                                                        <li><a href="#">Remote data acquisition</a></li>
                                                        <li><a href="#">Data logging</a></li>
                                                        <li><a href="#">Multiple scada server installation</a></li>
                                                        <li><a href="#">Control over internet</a></li>
                                                        <li><a href="#">Negligible lags</a></li>
                                                        <li><a href="#">Mobile devices supported</a></li>
                                                        <li><a href="#">Encrypted data on server</a></li>
                                                        <li><a href="#">Online support</a></li>
                                                        <li><a href="#">Easy control circuits</a></li>
                                                        <li><a href="#">Multiple sites data reading</a></li>                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==============================footer=================================-->
           <% include elements/footer %>
</body>
</html>