<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<link rel="stylesheet" href="css/contactform/contact.css" type="text/css" media="screen">  
<body id="page1">
    
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            <p align=center style="color: red">
                <script type="text/javascript">
                var msg = '<% if(locals.msg!=undefined) {%><%=locals.msg%> <% }else{ %>0<%}%>';
                console.log(msg);
                if(msg!=0)
                    document.write(msg);

                function ValidateEmail(mail)   
                {  
                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
                    {   
                        return (true)  
                    }                    
                    return (false)  
                }       
                function submitform()
                {
                    var name = document.getElementById("name").value;
                    var email = document.getElementById("email").value;                    
                    var message = document.getElementById("message").value;
                    if (name==""||email==""||message=="")
                    {   
                        alert("Fields can not be left blank");                      
                    }
                    else if(!ValidateEmail(email))
                    {
                        alert("You have entered an invalid email address!")  
                    }
                    else
                    {
                        document.getElementById('contact').submit()
                    }
                }
                </script>                                                         
            </p>                
        <div id="wrap">        
        <div id='form_wrap'>
            <form id="contact" method="POST" action="sendmessage">
                <p>Hello Pulkit,</p>
                <label for="email">Your Message : </label>
                <textarea  name="message" value="Your Message" id="message" ></textarea>
                <p>Best,</p>    
                <label for="name">Name: </label>
                <input type="text" name="name" value="" id="name" />
                <label for="email">Email: </label>
                <input type="text" name="email" value="" id="email" />
                <input type="submit" name ="submit" value="Now, I send, thanks!" />                
            </form>
        </div>
    </div>
</body>
</html>