<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">
                    <% include elements/menu %>                                        
                    <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
                    <script type="text/javascript">
                    $(document).ready(function() { 
                        $(".lightbox").append("<span></span>");
                        $("a[data-gal^='prettyVideo']").prettyPhoto({animation_speed:'normal',theme:'facebook',slideshow:false, autoplay_slideshow: false});
                    }); 
                    </script>  
                </div>
            </header>
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">
                                        <article class="grid_4">
                                            <div class="indent-left">
                                                <h3>Setting up SCADA </h3>
                                                <h6>SCADA software program, hardware system and the web app control-panel, all must be synchronized.</h6>
                                                <p class="indent-bot">User must caliberate their hardware circuits very accurately. every resistance and port of microcontroller (on sensing site) should be rechecked.</p>
                                                <figure class="indent-bot"><img src="images/page3-img1.png" alt=""></figure>
                                                <p class="prev-indent-bot2">Some specific caliberation of electronic system, commonly used.</p>
                                            </br>
                                                <ul class="list-2">
                                                    <li><a href="#">Voltage measuring circuit</a></li>
                                                    <li><a href="#">Current measuring slots</a></li>
                                                    <li><a href="#">Changing current and voltage capacity</a></li>
                                                    <li><a href="#">Control circuit- I</a></li>
                                                    <li><a href="#">Control circuit- II</a></li>
                                                    <li><a href="#">Temperature sensing and changing range</a></li>
                                                    <li><a href="#">Stepper motor Installation</a></li>
                                                    <li><a href="#">DC Encoder Motor control system</a></li>
                                                    <li><a href="#">Ultra Sonic Sensor data acquistion</a></li>
                                                </ul>
                                            </div>
                                        </article>
                                        <article class="grid_8">
                                            <div class="indent-left2">
                                                <h3 class="p1">Basic SCADA Examples</h3>
                                                <div class="wrapper img-indent-bot">
                                                    <figure class="img-indent3"><a class="lightbox" href="video/video_AS3.swf?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo-1]"  title="video will be uploaded soon."><img src="images/help/voltmeter.jpg" alt=""></a></figure>
                                                    <div class="extra-wrap">
                                                        <p class="p1">Video 1</p>
                                                        <h6><strong>Simple Voltmeter</strong></h6>
                                                        Simple circuit to measure voltage at any point of any complex circuit. There can be numerous voltage measuring slots to measure multiple point voltages and compare them with other statistics like time, current etc.
                                                    </div>
                                                </div>
                                                <div class="wrapper img-indent-bot">
                                                    <figure class="img-indent3"><a class="lightbox" href="video/video_AS3.swf?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo-2]" title="video will be uploaded soon."><img src="images/help/dc.jpg" alt=""></a></figure>
                                                    <div class="extra-wrap">
                                                        <p class="p1">Video 2</p>
                                                        <h6><strong>Temperature Sensing and DC Motor Control </strong></h6>
                                                        Brief information on usage of temp[erature sensor which will be accessed by scada server for data logging and reading the value. On other hand DC motor will be connected to control circuit.
                                                    </div>
                                                </div>
                                                <div class="wrapper img-indent-bot">
                                                    <figure class="img-indent3"><a class="lightbox" href="video/video_AS3.swf?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo-3]" title="video will be uploaded soon."><img src="images/help/stepper.jpg" alt=""></a></figure>
                                                    <div class="extra-wrap">
                                                        <p class="p1">Video 3</p>
                                                        <h6><strong>Stepper Motor controlling</strong></h6>
                                                        Stepper motor complex circuit addon can also be attached and thus functionality of neuroSCADA can be extended to control any type of stepper motor used in industries.
                                                    </div>
                                                </div>
                                                <div class="wrapper">
                                                    <figure class="img-indent3"><a class="lightbox" href="video/video_AS3.swf?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo-4]" title="video will be uploaded soon."><img src="images/help/panel.jpg" alt=""></a></figure>
                                                    <div class="extra-wrap">
                                                        <p class="p1">Video 4</p>
                                                        <h6><strong>LED Panel Scada</strong></h6>
                                                        Different RGB or normal LEDs panel can be a good example of bidirectional (data transmission) electronics component for a SCADA. User can get status of any LED digitally and thus can be used further for complex tasks.
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==============================footer=================================-->
              <% include elements/footer %>
        </div>
    </div>
</body>
</html>