<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">
                   <% include elements/top %>
                    </br>
                    <% include elements/menu %>
                    <% include elements/slider %>
                </div>
            </header>
            
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">
                        <div class="wrapper p5">
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/page1-img1.png" alt=""></figure>
                                    <div class="extra-wrap">
                                        <h4>Hardware Setup</h4>
                                        <p class="p2">If you have registered your CPanel. There is a small electronic system to be integrated at your LAB.</p>
                                        <a class="button" href="#">Read More</a>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/server.png" alt=""></figure>
                                    <div class="extra-wrap">
                                        <h4>Server installation</h4>
                                        <p class="p2">Install very light weight program at your serving system. This program will act as a scada server. </p>
                                        <a class="button" href="#">Read More</a>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_4">
                                <div class="wrapper">
                                    <figure class="img-indent"><img src="images/kit.jpg " alt=""></figure>
                                    <div class="extra-wrap">
                                        <h4>Integration Kit</h4>
                                        <p class="p2">In case, you have any difficulty making your own electronic system. you can order <a href="http://store.neurotronics.us" target="_blank">Neurotronics integration kit</a>.</p>
                                        <a class="button" href="#">Read More</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">
                                        <article class="grid_8">
                                            <div class="indent-left">
                                                <h2>Welcome!</h2>
                                                <p class="prev-indent-bot"><strong>NeuroSCADA</strong> is one of <a href="http://neurotronics.us" target="_blank">Neurotronics Maschinenbau</a>'s product. This web application is made for all general researchers so that they can monitor, control and save the experimental activities remotely on web. This application can also be used as online repository for the observation log of the experiments being done in Research- Labs</p>
                                                <p class="border-bot"> NeuroSCADA can also be used in Room automation by anyone. User can switch any home applicance by their CPanel maintained by NeuroSCADA absolutely free.</p>
                                            </div>                                            
                                        </article>
                                        <article class="grid_4">
                                            <div class="indent-left2 indent-top">
                                                <div class="box p4">
                                                    <div class="padding">
                                                        <div class="wrapper">
                                                            <figure class="img-indent"><img src="images/page1-img4.png" alt=""></figure>
                                                            <div class="extra-wrap">
                                                                <h4 class="p0">Support hours:</h4>
                                                            </div>
                                                        </div>
                                                        </BR>                                                    
                                                        <p class="color-1 p0">Monday - Friday: 8:30 am - 6:00</p>
                                                        <p class="color-1 p1">Saturday: 8:30 am - Noon</p>
                                                        <a href="/ticket">Open Ticket</a>
                                                    </div>
                                                </div>                                                                                              
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==============================footer=================================-->
            <% include elements/footer %>
        </div>
    </div>
</body>
</html>