<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">                                        
                                        <div align=center class="indent-lef">                                                
                                            <link rel="stylesheet" href="css/loginform/login-form.css" type="text/css" media="screen">  
                                            <script type="text/javascript" src="js/loginform/login-form.js"></script>
                                            <p align=center style="color: red">
                                                        <script type="text/javascript">
                                                            var msg = '<% if(locals.msg!=undefined) {%><%=locals.msg%> <% }else{ %>0<%}%>';
                                                            if(msg!=0)
                                                            document.write(msg);
                                                        </script>                                                         
                                            </p>
                                            <div class="login-form">
                                                <h1 style="background: none">Cpanel Login</h1>                                                
                                                <form id="loginform" name="loginform" action="loginuser" method="post">

                                                    <input type="text" id="email" name="email" placeholder="email">
                                                    <input type="password" name="password" placeholder="password">
                                                    <a href="javascript:void(0)" onclick="submitform();">Forgot Password</a>
                                                </br>
                                                    <input type="hidden" name="redir" placeholder="redir" value="<%=locals.redir%>">
                                                    <span>
                                                        <input type="checkbox" name="checkbox">
                                                        <label for="checkbox">remember</label>
                                                    </span>

                                                    <input type="submit" value="log in">

                                                </form>
                                                <script type="text/javascript">
                                                function ValidateEmail(mail)   
                                                {  
                                                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
                                                    {   
                                                        return (true)  
                                                    }                    
                                                    return (false)  
                                                }       
                                                function submitform()
                                                {                                                                                                                    
                                                    var email = document.getElementById("email").value;
                                                    //var password = document.getElementById("password").value;                                                    
                                                    if (email=="")
                                                    {   
                                                        alert("Please enter your Email ID");                      
                                                    }
                                                    else if(!ValidateEmail(email))
                                                    {
                                                        alert("You have entered an invalid email address!")  
                                                    }                                                                                                        
                                                    else
                                                    {
                                                        document.loginform.action="forgot";
                                                        document.forms["loginform"].submit();
                                                    }
                                                }
                                                        </script>
                                                    </div>
                                                </div>                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            
            <!--==============================footer=================================-->
            <% include elements/footer %>
        </div>
    </div>
</body>
</html>