<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">        
        <div class="bg">            
            <!--==============================header=================================-->
            <header>
                <style type="text/css"> 
                   #thermo1 {cursor: pointer}
                   #ox {cursor: pointer}
                </style>
                <link rel="stylesheet" href="css/panel/jgauge.css" type="text/css" /> <!-- CSS for jGauge styling. -->
                <!--[if IE]><script type="text/javascript" language="javascript" src="js/excanvas.min.js"></script><![endif]--> <!-- Extends canvas support to IE. (Possibly buggy, need to look into this.) -->
                
                <script language="javascript" type="text/javascript" src="js/panel/jquery-1.4.2.min.js"></script> <!-- jQuery JavaScript library. -->

                <script language="javascript" type="text/javascript" src="js/panel/jQueryRotate.min.js"></script> <!-- jQueryRotate plugin used for needle movement--><script language="javascript" type="text/javascript" src="js/panel/jgauge-0.3.0.a3.js"></script> <!-- jGauge JavaScript. -->

                <script src="js/panel/RGraph/RGraph.common.core.js" ></script>
                <script src="js/panel/RGraph/RGraph.common.dynamic.js" ></script>
                <script src="js/panel/RGraph/RGraph.common.effects.js" ></script>
                <script src="js/panel/RGraph/RGraph.thermometer.js" ></script>            
                <script src="js/panel/RGraph/RGraph.vprogress.js" ></script>
                <script src="js/panel/RGraph/RGraph.gauge.js" ></script>            
   
                <script language="javascript" ty    pe="text/javascript" src="js/panel/flot/jquery.flot.js"></script>
                <script language="javascript" type="text/javascript" src="js/panel/flot/graph.js"></script>
                <script language="javascript" type="text/javascript" src="js/panel/meterTypes.js"></script>

                <div class="main">                                                       
                <% include elements/menu %>                                        
                </div>
            </header>            

        <!--==============================content================================-->                                
            <section id="content"><div class="ic"></div>                 
            <p align=center style="background: none; color: red" ><font color="yellow">Status: </font>You have no Scada server configured, currently connected to Neurotronics public SCADA server (IP: 456.99.11.12) <a class="button" style="" href="logout">Logout</a></p>               
                <div class="main">                    
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">                                        
                                        <div style="color: #3399CC;"> 
                                            <div style="margin-top: 60px;" id="voltage" class="jgauge"></div>
                                            <div style="margin-top: 60px;" id="current" class="jgauge"></div>
                                            <div style="margin-top: 60px;" id="power" class="jgauge"></div>
                                            Thermostat Cut-off <input id="tempval" type="text" value="" style="text-align: right; width:5em"> Celsius                                                                                        
                                            <div align=center>
                                          	     <canvas  id="thermo1" width="110" height="350">[No canvas support]</canvas> 
                                          	</div>
                                          	<div align=center>
                                          		<font style="background: none;">Real-time visualization</font>
                                            	<div id="placeholder" style="width:600px;height:300px;"></div>
                                           		<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>                                            
                                           	</div>

                                            <div align=left>
                                                <canvas style=" margin-left: 20px; margin-top: 40px; margin-right: 30px;" id="waterlevel" width="80" height="400">[No canvas support]</canvas>
                                                <canvas style="margin-top: 40px; margin-right: 100px;"  id="thermo2" width="110" height="350">[No canvas support]</canvas>                                            
                                                <canvas style="margin-top: 90px; margin-right: 10px;" id="ox" width="250" height="250">[No canvas support]</canvas>
                                                <canvas style="margin-top: 90px; margin-right: 10px;" id='speed' width="250" height="250">[No canvas support]</canvas>                                                
                                                
                                            </div>
                                            <div align=right style="margin-right: 100px;">                          
                                                   DC Motor speed: <input id="rpm" type="text" value="" style="text-align: right; width:5em"> RPM (x1000)</p>                                                               
                                            </div>                                                                                
                                        </div>
                                    </div>                                                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>

    <!--==============================footer=================================-->
            <script language="javascript" type="text/javascript" src="js/panel/working.js"></script> 
            <% include elements/footer %>        
        </div>
    </div>
</body>
</html>