<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">        
        <div class="bg">            
            <!--==============================header=================================-->
            <header>
                <style type="text/css"> 
                   #thermo1 {cursor: pointer}
                </style>
                <link rel="stylesheet" href="css/panel/jgauge.css" type="text/css" /> <!-- CSS for jGauge styling. -->
                <!--[if IE]><script type="text/javascript" language="javascript" src="js/excanvas.min.js"></script><![endif]--> <!-- Extends canvas support to IE. (Possibly buggy, need to look into this.) -->
                
                <script language="javascript" type="text/javascript" src="js/panel/jquery-1.4.2.min.js"></script> <!-- jQuery JavaScript library. -->

                <script language="javascript" type="text/javascript" src="js/panel/jQueryRotate.min.js"></script> <!-- jQueryRotate plugin used for needle movement--><script language="javascript" type="text/javascript" src="js/panel/jgauge-0.3.0.a3.js"></script> <!-- jGauge JavaScript. -->

                <script src="js/panel/RGraph/RGraph.common.core.js" ></script>
                <script src="js/panel/RGraph/RGraph.common.dynamic.js" ></script>
                <script src="js/panel/RGraph/RGraph.common.effects.js" ></script>
                <script src="js/panel/RGraph/RGraph.thermometer.js" ></script>

   
                <script language="javascript" type="text/javascript" src="js/panel/flot/jquery.flot.js"></script>
                <script language="javascript" type="text/javascript" src="js/panel/flot/graph.js"></script>

                <div class="main">                                                       
                <% include elements/menu %>                                        
                </div>
            </header>            

        <!--==============================content================================-->                                
            <section id="content"><div class="ic"></div>                 
            <p align=center style="background: none; color: red" ><font color="yellow">Status: </font>You have no Scada server configured, currently connected to Neurotronics public SCADA server (IP: 456:99:11:12)</p>               
                <div class="main">                    
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">                                        
                                        <div align=center class="indent-lef" style="color: #3399CC;"> 
                                            <div id="voltage" class="jgauge"></div>
                                            <div id="current" class="jgauge"></div>
                                            <div id="power" class="jgauge"></div>
                                            Thermostat Cut-off <input id="tempval" type="text" value="" style="text-align: right; width:5em"> Celsius                                            
                                            <canvas id="thermo1" width="110" height="350">[No canvas support]</canvas>

                                           <div style="text-align:center">                                               
                                               <canvas id="thermo2" width="110" height="350">[No canvas support]</canvas>
                                               <div id="placeholder" style="width:600px;height:300px;"></div>
                                           </div>
                                            <font style="background: none;">Real-time visualization</font>
                                                                                        
                                            <p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>                                            
                                            
                                                                                

                                        </div>
                                    </div>                                                                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>

    <!--==============================footer=================================-->
            <script language="javascript" type="text/javascript" src="js/panel/working.js"></script> 
            <% include elements/footer %>        
        </div>
    </div>
</body>
</html>