<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">                                        
                                        <div align=center class="indent-lef">                                                
                                            <link rel="stylesheet" href="css/registerationform/registerationform.css" type="text/css" media="screen">  
                                            <script type="text/javascript" src="js/registerationform/registeration.js"></script>
                                            <div id="registration">
                                                <h2>Create an Account</h2>
                                                <p align=center style="color: red">
                                                        <script type="text/javascript">
                                                            var msg = '<% if(locals.msg!=undefined) {%><%=locals.msg%> <% }else{ %>0<%}%>';
                                                            console.log(msg);
                                                            if(msg!=0)
                                                            document.write(msg);
                                                        </script>                                                         
                                                </p>
                                                <form id="RegisterUserForm" action="adduser" method="post">
                                                    <fieldset>
                                                        <p>
                                                            <label for="name">Name</label>
                                                            <input id="name" name="name" type="text" class="text" value="" />
                                                        </p>                                                    

                                                        <p>
                                                            <label for="email">Email</label>
                                                            <input id="email" name="email" type="email" class="text" value="" />
                                                        </p>

                                                        <p>
                                                            <label for="password">Password</label>
                                                            <input id="password" name="password" class="text" type="password" />
                                                        </p>
                                                        <p>
                                                            <label for="repassword">Re-Password</label>
                                                            <input id="repassword" name="repassword" class="text" type="password" />
                                                        </p>

                                                        <p>
                                                            <label for="tel">Phone Number (Optional)</label>
                                                            <input id="tel" name="tel" type="tel" class="text" value="" />
                                                        </p>

                                                        <p><input id="acceptTerms" name="acceptTerms" type="checkbox" />
                                                            <label for="acceptTerms">
                                                                I agree to the <a href="terms">Terms and Conditions</a> and <a href="policy">Privacy Policy</a>
                                                            </label>
                                                        </p>

                                                        <p>
                                                            <button id="registerNew" onclick="javascript: submitform()" type="button">Register</button>
                                                        </p>
                                                    </fieldset>
                                                </form>
                                                <script type="text/javascript">
                                                function ValidateEmail(mail)   
                                                {  
                                                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
                                                    {   
                                                        return (true)  
                                                    }                    
                                                    return (false)  
                                                }       
                                                function submitform()
                                                {
                                                            //var x=document.forms["form"].fistname.value;
                                                            var name=document.getElementById("name").value                                                         
                                                            var email = document.getElementById("email").value;
                                                            var password = document.getElementById("password").value;
                                                            var pass2 = document.getElementById("repassword").value;         
                                                            var checked = document.getElementById("acceptTerms").checked;                                          
                                                            if (name==""||email==""||password=="")
                                                            {   
                                                                alert("Fields can not be left blank");                      
                                                            }
                                                            else if(!ValidateEmail(email))
                                                            {
                                                                alert("You have entered an invalid email address!")  
                                                            }
                                                            else if(password!=pass2)
                                                            {
                                                                alert("Passwords entered didn't match");                        
                                                            }  
                                                            else if(checked==false)                                                          
                                                            {
                                                                alert("You didn't accepted Terms and conditions");
                                                            }
                                                            else
                                                            {
                                                                document.forms["RegisterUserForm"].submit();
                                                            }
                                                        }
                                                        </script>
                                                    </div>
                                                </div>                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            
            <!--==============================footer=================================-->
            <% include elements/footer %>
        </div>
    </div>
</body>
</html>