<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1" OnLoad="document.myform.password.focus();">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">                    
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">                                        
                                        <div align=center class="indent-lef">                                                
                                            <link rel="stylesheet" href="css/registerationform/registerationform.css" type="text/css" media="screen">  
                                            <link rel="stylesheet" href="css/loginform/login-form.css" type="text/css" media="screen">  
                                            <script type="text/javascript" src="js/registerationform/registeration.js"></script>
                                            <div id="registration">
                                                <h2>Change your password</h2>
                                                <form id="RegisterUserForm" name="myform" action="newpassword" method="post">
                                                    <fieldset>
                                                        <p>
                                                            <label>Enter New password</label>
                                                        </p>
                                                       <p>                                                            
                                                            <label for="password">Password</label>
                                                            <input id="password" name="password" class="text" type="password" />
                                                            <input id="resetlink" name="resetlink" type="hidden" value="<%=locals.resetlink%>" />
                                                        </p>
                                                        <p>
                                                            <label for="repassword">Re-Password</label>
                                                            <input id="repassword" name="repassword" class="text" type="password" />
                                                        </p>
                                                        <p>
                                                            <button id="egisterNew" onclick="javascript: submitform()" type="button">registerationform</button>
                                                        </p>
                                                    </fieldset>
                                                </form>
                                                <script type="text/javascript">
                                                function ValidateEmail(mail)   
                                                {  
                                                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
                                                    {   
                                                        return (true)  
                                                    }                    
                                                    return (false)  
                                                }       
                                                function submitform()
                                                {
                                                        var password = document.getElementById("password").value;
                                                        var pass2 = document.getElementById("repassword").value;         
                                                            if (password=="")
                                                            {   
                                                                alert("Fields can not be left blank");                      
                                                            }
                                                            else if(password!=pass2)
                                                            {
                                                                alert("Passwords entered didn't match");                        
                                                            }  
                                                            else
                                                            {
                                                                document.forms["RegisterUserForm"].submit();
                                                            }
                                                        }
                                                        </script>
                                                    </div>
                                                </div>                                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </section>
            
            <!--==============================footer=================================-->
            <% include elements/footer %>
        </div>
    </div>
</body>
</html>