<!DOCTYPE html>
<html lang="en">
<%include elements/head %>
<body id="page1">
    <div class="main-bg">
        <div class="bg">
            <!--==============================header=================================-->
            <header>
                <div class="main">                                       
                    </br>
                    <% include elements/menu %>                                        
                </div>
            </header>
            
            <!--==============================content================================-->
            <section id="content"><div class="ic"></div>
                <div class="main">
                    <div class="container_12">
                        
                        <div class="container-bot">
                            <div class="container-top">
                                <div class="container">
                                    <div class="wrapper">
                                        <article class="grid_8">
                                            <div class="indent-left">
                                                <p align=center style="color: red">
                                                            <script type="text/javascript">
                                                                var msg = '<% if(locals.msg!=undefined) {%><%=locals.msg%> <% }else{ %>0<%}%>';
                                                                console.log(msg);
                                                                if(msg!=0)
                                                                document.write(msg);

                                                                function ValidateEmail(mail)   
                                                                {  
                                                                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
                                                                    {   
                                                                        return (true)  
                                                                    }                    
                                                                    return (false)  
                                                                }       
                                                                function submitform()
                                                                {
                                                                    var name = document.getElementById("name").value;
                                                                    var email = document.getElementById("email").value;
                                                                    var phone = document.getElementById("phone").value;
                                                                    var subject = document.getElementById("subject").value;
                                                                    var message = document.getElementById("message").value;
                                                                    if (name==""||email==""||phone==""||subject==""||message=="")
                                                                    {   
                                                                        alert("Fields can not be left blank");                      
                                                                    }
                                                                    else if(!ValidateEmail(email))
                                                                    {
                                                                        alert("You have entered an invalid email address!")  
                                                                    }
                                                                    else
                                                                    {
                                                                        document.getElementById('contact-form').submit()
                                                                    }
                                                                }

                                                            </script>           
                                                <h3 class="p1" style="color: green;">New Ticket</h3>
                                                <form id="contact-form" action="ticketsend" method="post" enctype="multipart/form-data">
                                                    <fieldset >
                                                          <label><span style="color: white;" class="text-form" >Name:</span><input id="name" name="name" type="text" /></label>
                                                          <label><span style="color: white;" class="text-form">Email:</span><input name="email" id="email" type="text" /></label>
                                                          <label><span style="color: white;" class="text-form">Phone:</span><input name="phone" id="phone" type="text" /></label>                              
                                                          <label><span style="color: white;" class="text-form">Subject</span><input name="subject" id="subject" type="text" /></label>

                                                          <div class="wrapper">
                                                            <div style="color: white;" class="text-form">Message:</div>
                                                            <div class="extra-wrap">
                                                                <textarea name="message" id="message"></textarea>
                                                                <div class="clear"></div>
                                                                <div class="buttons">
                                                                    <a class="button" onclick="submitform()" href="javascript:void(0)">Send</a>
                                                                </div> 
                                                            </div>
                                                          </div>                            
                                                    </fieldset>                     
                                                </form>
                                            </div>
                                        </article>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==============================footer=================================-->
            <% include elements/footer %>
        </div>
    </div>
</body>
</html>