<footer>
	<div class="main">
		<span>NeuroSCADA &copy; 2012</span>
		Developed and designed by <a rel="nofollow" href="http://www.pulkitgupta.net/" target="_blank">Pulkit Gupta</a>
	</div>
</footer>