<nav>
	<ul class="menu">
		<li><a id="Home" href="/">Home</a></li>
		<li><a id="About" href="about">About</a></li>
		<script>			
			var x = '<% if(locals.login){%>1<% }else{ %>0<%}%>';
			console.log("rendering login");					
			if(x==0){
				document.write("<li><a id='Login' href='login'>Login </a></li>");			
			}				
			else{
				document.write("<li><a id='CPanel' href='member'>CPanel </a></li>");			
				document.write("<li><a id='My Records' href='#'>My Records </a></li>");			
			}

		</script>
		<li ><a id ="Features" href="#">Features</a></li>
		<li><a id ="Help" href="help">Help</a></li>
		<li><a id="Contact" href="contact">Contact</a></li>
	</ul>
	<script>
		var y = '<% if(locals.title){%><%=locals.title%><% }else{ %>"Home"<%}%>';		
		console.log(y);
		document.getElementById(y).setAttribute("class", "active");			
	</script>	
</nav>