<div class="slider-wrapper">
    <div class="slider">
        <ul class="items">
            <li>
                <img src="images/slider/s1.jpg" alt="" />
            </li>
            <li>
                <img src="images/slider/s2.jpg" alt="" />
            </li>
            <li>
                <img src="images/slider/s3.jpg" alt="" />
            </li>
            <li>
                <img src="images/slider/s4.png" alt="" />
            </li>                        
            <li>
                <img src="images/slider/s5.jpg  " alt="" />
            </li>                        
            <li>
                <img src="images/slider/s6.jpg" alt="" />
            </li>                                
        </ul>
    </div>
    <a class="prev" href="#">prev</a>
    <a class="next" href="#">next</a>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
$(window).load(function() {
    $('.slider')._TMS({
        duration:1000,
        easing:'easeOutQuint',
        preset:'simpleFade',
        slideshow:7000,
        banners:false,
        pauseOnHover:true,
        pagination:false,
        pagNums:false,
        nextBu:'.next',
        prevBu:'.prev'
    });
});
</script>