 	<div class="wrapper">
 		<h1><a href="/">logo</a></h1>

 		<div class="fright">                                                     
 			<div class="indent">                 
 			</br>
 			<script>
 				var x = '<% if(locals.login){%>1<% }else{ %>0<%}%>';
 				console.log("rendering signup"); 				
 				if(x==0)			
 				document.write('<a class="signupbutton" href="register">Register</a><span class="address">Its absolutely free.</span>'); 				
 				else
 				document.write('<a class="signupbutton" href="member">CPanel</a><span class="address"><a href="logout">Logout</a></span>'); 					
 			</script>                			
 		</div>
 	</div>
 </div>